{% extends "base.html" %}
{% block title %}Detail{% endblock %}

{% block body %}


  <div class="container mt-5">
      <div class="row">
        <img class=img-fluid src="https://i.imgflip.com/5koz7c.png?a467448" alt="">
      </div>
        <h1 class="display-1">Shrek {{ rating }}</h1>
        <div>
            <span class="badge rounded-pill text-bg-danger">Horror</span>
            <span class="badge rounded-pill text-bg-primary">Fantasy</span>
            <span class="badge rounded-pill text-bg-success">Komedie</span>
        </div>
        <p>2001, 90 min</p>
        <table class="table">
            <tbody>
              <tr>
                <th scope="row">Rezie:</th>
                <td>
                  Vicky Jenson, Andrew Adamson</td>
              </tr>
              <tr>
                <th scope="row">Hraji:</th>
                <td>Mike Myers, Eddie Murphy, Cameron Diaz, John Lithgow, Vincent Cassel, Jim Cummings, Simon J. Smith, Conrad Vernon, Ian Abercrombie</td>
              </tr>
            </tbody>
          </table>
          <div class="sticky-bottom pt-2 pb-2 bg-light">
            <button class="btn btn-success w-100 btn-lg" type="button"><i class="bi bi-play-circle"></i>  Watch now!</button>
          </div>
          <p>Odvážný Shrek (Mike Myers) pátrá se svým kamarádem, sympatickým a chvastounským oslem (Eddie Murphy) po krásné a divoké princezně Fioně (Cameron Diaz). Za její záchranu chce od intrikána Lorda Farquadda (John Lithgow) získat zpět svou milovanou bažinu. (Bontonfilm)</p>
          {% for comment in comments %}
          <li>{{ comment.name }}</li>
          <p>{{ comment.text }}</p>
          {% endfor %}
        </div>
{% endblock %}