{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 order-lg-5 col-lg-4 card">
                <img src="https://www.marthastewart.com/thmb/g-FunKfdiZombJQ7pB4wb8BF4C8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/cat-kitten-138468381-4cd82b91d7be45cb9f9aa8366e10bce4.jpg" alt="">
            </div>
            <div class="col-12 order-lg-1 col-lg-8 card">
                <h1 class="display-1">Proc bys mi mel dat vsechny penize</h1>
                <p>Protoze potom budu mit <mark>penize</mark></p>
                <ul>
                    <li>okno</li>
                    <li>dvere</li>
                    <li>pneumatika</li>
                    <li>volant</li>
                    <li>sedacka</li>
                    <li>radici paka</li>
                </ul>
            </div>
        </div>
            

        <div class="row">
            {% for id, dat in data.items() %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 card">
                <img src={{dat.image}} alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{dat.title}}</h5>
                    <p class="card-text">{{dat.description}}</p>
                    <a href="/detail" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
